- name: Enable the EVPN capability
  cisco.nxos.nxos_evpn_global:
    nv_overlay_evpn: true

- name: Configure BGP router id and neighbors on the spine switches
  cisco.nxos.nxos_bgp_global:
    config:
      as_number: "{{ asn }}"
      router_id: "{{ loopbacks | selectattr('description','equalto','Router-ID') | map(attribute='addr') | first }}"
      neighbors:
      - neighbor_address: "{{ hostvars[item].loopbacks | selectattr('description','equalto','Router-ID') | map(attribute='addr') | first }}"
        remote_as: "{{ asn }}"
        update_source: "{{ loopbacks | selectattr('description','equalto','Router-ID') | map(attribute='iface') | first }}"
  loop: "{{ groups['leaves'] }}"
  when: "'spines' in group_names"

- name: Configure BGP router id and neighbors on the leaf switches
  cisco.nxos.nxos_bgp_global:
    config:
      as_number: "{{ asn }}"
      router_id: "{{ loopbacks | selectattr('description','equalto','Router-ID') | map(attribute='addr') | first }}"
      neighbors:
      - neighbor_address: "{{ hostvars[item].loopbacks | selectattr('description','equalto','Router-ID') | map(attribute='addr') | first }}"
        remote_as: "{{ asn }}"
        update_source: "{{ loopbacks | selectattr('description','equalto','Router-ID') | map(attribute='iface') | first }}"
  loop: "{{ groups['spines'] }}"
  when: "'leaves' in group_names"

- name: Enable the L2VPN EVPN address family
  cisco.nxos.nxos_bgp_address_family:
    config:
      as_number: "{{ asn }}"
      address_family:
        - afi: l2vpn
          safi: evpn

- name: Enable the L2VPN EVPN address family per neighboring leaves
  cisco.nxos.nxos_bgp_neighbor_address_family:
    config:
      as_number: "{{ asn }}"
      neighbors:
        - neighbor_address: "{{ hostvars[item].loopbacks | selectattr('description','equalto','Router-ID') | map(attribute='addr') | first }}"
          address_family:
            - afi: l2vpn
              safi: evpn
              send_community:
                both: true
              #route_reflector_client: true
  loop: "{{ groups['leaves'] }}"
  when: "'spines' in group_names"

- name: Enable the L2VPN EVPN address family per neighboring spines
  cisco.nxos.nxos_bgp_neighbor_address_family:
    config:
      as_number: "{{ asn }}"
      neighbors:
        - neighbor_address: "{{ hostvars[item].loopbacks | selectattr('description','equalto','Router-ID') | map(attribute='addr') | first }}"
          address_family:
            - afi: l2vpn
              safi: evpn
              send_community:
                both: true
              #route_reflector_client: true
  loop: "{{ groups['spines'] }}"
  when: "'leaves' in group_names"
