---

- name: Configure the OSPF process id, area and router id
  cisco.nxos.nxos_ospfv2:
    config:
      processes:
        - process_id: "{{ ospf_underlay.process_id }}"
          router_id: "{{ loopbacks | selectattr('description','equalto','Router-ID') | map(attribute='addr') | first }}"
          maximum_paths: "{{ ospf_underlay.maximum_paths }}"

- name: Associate the fabric interfaces with the fabric underlay OSPF process
  cisco.nxos.nxos_ospf_interfaces:
    config:
      - name: "{{ item.iface }}"
        address_family:
          - afi: ipv4
            network: point-to-point
            processes:
              - process_id: "{{ ospf_underlay.process_id }}"
                area:
                  area_id: "{{ ospf_underlay.area_id }}"
  loop: "{{ loopbacks + fabric_interfaces }}"
